data/
*/**/.idea/
*/**/.ipynb_checkpoints
*/**/__pycache__
.ipynb_checkpoints
.idea
__pycache__
zz_scripts/**/bin
zz_scripts/**/include
zz_scripts/**/lib
zz_scripts/**/pyvenv.cfg
*/**/dask-worker-space
*/**/venv
*.out
*.swp